# .gitignore
*
# keep track
!README.md
!LICENSE
!.bashrc
!.bash_aliases
!.vimrc
!setup.sh
!/config/
!/config/**
!/www/
!/www/greyarea/
!/www/greyarea/*
!/www/greyarea/app/
!/www/greyarea/app/**
!/cpp/
!/cpp/CMakeLists.txt
!/cpp/src/
!/cpp/src/*
!/cpp/inc/
!/cpp/inc/*
!/cpp/build/
!/cpp/build/__init__.py
!.gitignore
