<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block script %}{% endblock %}
        {% block style %}
        <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2018 Alexander Wilson
            {% endblock %}
        </div>
    </body>
</html>
